# project specific settings

export OVERLAY_COLOR=6EB7E3
export BPM=160
export AEGISUB_CLI="$HOME/repo/aegisub-cli/builddir/src/aegisub-cli"
export FONTNAME="FOT-Seurat Pro DB"

# default subtitle style

export BORD=5
export BORD_FURI=3
export FADE_IN_MS=800
export FADE_OUT_MS=200
export FONTSIZE=96
export MARGIN_H=64
export MARGIN_V=48
export RUBY_OFFSET_INT=10

export GUIDE_DOT_DURATION=$(python3 -c "N=(int(round((60 / ${BPM}) * 4 * 1000)));print(N if N < 1800 else N // 2)")

export PATH="..:$PATH"

